.card {
    padding: 17px;
    display: flex;
    align-items: center;
    gap: 6px
}

.titleSection {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;

    a {
        color: inherit;
        text-decoration: none;
        transition: color 300ms;

        &:hover {
            color: var(--mui-primary-dark-color);
        }
    }
}

.cardContainer {
    padding: 10px;
}

.icon {
    color: var(--mui-primary-dark-color)
}

@media (max-width: 900px) {
    .titleSection {
        min-height: auto;
        flex-direction: row;
        margin-bottom: 10px;
    }
}