.card1 {
    border-radius: 12px;
    height: 700px;
    background-color: var(--mui-primary-light-color);
    position: relative;

    .card1Container {
        width: 45%;
        position: absolute;
        top: 0;
        bottom: 0;
        padding: 25px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &.left {
            right: 0;
            text-align: right;
        }
    }
}

.backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: contain;
}


.cardContainer {
    display: flex;
    gap: 14px;
    flex-direction: column;
}

@media (max-width: 1200px) {

    .backgroundImage {
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }

    .card1 {
        .card1Container {
            width: 100%;
        }

        .backgroundImage {
            &::after {
                background-color: rgba(0, 0, 0, 0.5);
            }
        }
    }

}

@media (max-width: 899px) {
    .card1 {
        height: 400px;
    }

}