.backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: contain;
}

.card {
    border-radius: 12px;
    height: 343px;
    position: relative;

    .cardContainer {
        display: flex;
        align-items: center;
        width: 60%;
        position: absolute;
        top: 0;
        bottom: 0;
        padding: 25px;

        &.left {
            right: 0;
        }
    }

    &.primary {
        background-color: var(--mui-primary-light-color);
        color: white;
    }

    &.secondary {
        background-color: var(--mui-secondary-light-color);
        color: white;
    }

    &.grey {
        background-color: var(--mui-grey-color);
    }
}

@media (max-width: 1200px) {
    .backgroundImage {
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }

    .card {
        .cardContainer {
            width: 100%;
        }

        .backgroundImage {
            background-position: center center !important;
            background-size: cover;

            &::after {
                background-color: rgba(0, 0, 0, 0.5);
            }
        }

        &.grey {
            .backgroundImage::after {
                background-color: rgba(255, 255, 255, 0.5);
            }
        }
    }
}

@media (max-width: 899px) {

    .card {
        height: 300px;
    }
}